<header>
  <div class="header-logo">
    TweetApp
  </div>
  <ul class="header-menus">
    <li>TweetAppとは</li>
  </ul>
</header>
<div class="about-main">
<h2>Minderとは</h2>
  <p>
    新しいアプリアイデアのSNSサービスです。
    アプリアイデアを投稿（マインドセット）し、他のユーザーとマインドを共有できます。
  </p>
   </p>
  <!--画像のコードを貼り付けてください-->
  <img class="about-img" src="/mind.jpg">
</div>