
<div class="about-main">
<h2>Minderとは</h2>
  <p>プログラミングスクール生専用の、アプリアイデアのSNSサービスです。</p>
  <p>アプリアイデアを投稿（マインドセット）し、他のユーザーとマインドを共有できます。</p>
  
  <img class="about-img" src="/mind.jpg">

  <p>プログラミングスクール生におすすめの書籍</p>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B01M4L4UZW&linkId=89b82b4890f65d1de2803d26c6b13979&bc1=FFFFFF&amp;lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B01LW1BC2L&linkId=f2e518f4468198eb39611e20f8744a7d&bc1=ffffff&amp;lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B07YY2WV6K&linkId=eb6fb14e0cb6353675a83c3f976be3cf&bc1=ffffff&amp;lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=415050542X&linkId=53ed7651acbcbf7b021427adb6158497&bc1=ffffff&amp;lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B07L67XZSS&linkId=e56932d2e78bf0a2c2ee5c70d25a834b&bc1=ffffff&amp;lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B00HQ6O7BO&linkId=c6b6a257bc68b300a1aa1dc93b436546&bc1=ffffff&amp;lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=minder01-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B00EH93MO6&linkId=18cadf7fc19266ca4ce76014f79e035b&bc1=ffffff&amp;lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>

</div>